.register {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerContainer {
    width: 70%;
    height: 70%;
    display: flex;
}

.registerLeft,.registerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1877f2;
}

.registerSpan {
    font-size: 24px;
}

.registerBox {
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
}

.registerTitle {
    color: #0b3061;
    text-align: center;
}

.registerButton {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #1877f2;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer; 
    margin-bottom: 20px;
}

.registerAlready {
    text-align: center;
    color: #1877f2; 
    cursor: pointer;
    margin-bottom: 20px;
}

@media only all and (max-width: 800px) {

    .registerContainer {
        width: 80%;
        flex-direction: column;
    }   

    .registerLeft {
        margin-bottom: 20px;
    }
}