.sectionTop {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sectionTitle {
    font-size: 25px;
    font-weight: 100;
    margin-left: 10px;
}

.sectionButton {
    position: relative;
    display: inline-block;
}

.sectionContainer {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    width: 90%;
    height: 420px;
    overflow-y: scroll;
}

.sectionContainerFocused {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    width: 90%;
    height: 95%;
    overflow-y: scroll;
}