.formInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formInputField {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

.formInputLabel {
    font-size: 12px;
    color: gray;
}

.formInputErrorMessage {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

.formInputField:invalid[focused="true"] {
    border: 1px solid red;
}

.formInputField:invalid[focused="true"] ~ .formInputErrorMessage {
    display: block;
}