.sectionStart {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionStartContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.sectionStartRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionStartLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1877f2;
}

.sectionStartSpan {
    font-size: 24px;
}

.sectionStartBox {
    height: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionStartBoxHidden {
    display: none;
}

.sectionStartInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.sectionChosenContainer {
    display: flex;
    flex-direction: column;
}

.sectionChosenType {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: #579bf3d2;
    padding: 5px;
    display: flex;
    justify-content: space-between;
} 

.sectionChosenTypeText {
    color: #1877f2;
    font-size: 20px;
}

.sectionChosenTypeRemove {
    position: relative;
}

.sectionSubjectInputText {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.sectionStartButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1877f2;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer; 
}

.sectionStartForgot {
    text-align: center;
    color: #1877f2; 
}

.sectionStartRegisterButton {
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

@media only all and (max-width: 800px) {

    .sectionStartContainer {
        width: 80%;
        flex-direction: column;
    }   

    .sectionStartLeft {
        margin-bottom: 20px;
    }
}