.chatlistContainer {
    flex: 3;
}

.chatlistInsiderFriends {
    margin-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.chatlistInput {
    margin-left: 10px;
    width: 80%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chatlistFriends {
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
}

.chatlistFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.chatlistFriendImgContainer {
    margin-right: 10px;
    position: relative;
}

.chatlistFriendImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.chatlistFriendOnlineBadge {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.chatlistFriendOfflineBadge {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.chatlistFriendOnlineUsername {
    font-weight: 500;
}

.chatlistInsiderConversations {
    margin-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.chatlistConversations {
    padding: 10px;
    height: 350px;
    overflow-y: scroll;
}